body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #a4a4a4;
  margin: 8px auto;
  padding: 8px;
}

.title {
  background: #66afe0;
  margin-top: 8px;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 8px;
  font-weight: bold;
}

.content {
  background: #66afe0;
  margin-bottom: 10px;
  padding: 16px 8px;
}

.button-container {
  background: #66afe0;
  padding: 8px;
  text-align: center;
  
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: 0 auto;
  padding: 8px 24px;
}